body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  overflow-x: hidden;
  }

.darkBackground {
  background-color: rgba(5, 5, 5, 0.904);
  color:white;

}

header {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 15px;
  color:white;
  text-decoration: none;
}

main {
  padding: 20px;
}

h3 {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
  
}

.donations {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}